#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd
df = pd.read_csv('../data/supermarket_sales.csv')

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [2]:
df.groupby('Branch')['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

In [3]:
df.groupby('Branch')['gross income'].sum().idxmax()

'C'

Філіал С є найприбутковішим.

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [4]:
df.groupby(['Branch', 'City'])['gross income'].sum()

Branch  City
A       Yangon       5057.1605
B       Mandalay     5057.0320
C       Naypyitaw    5265.1765
Name: gross income, dtype: float64

В місті Naypyitaw.

In [5]:
df[df.Branch == 'C']['City'].max()

'Naypyitaw'

In [6]:
df.groupby('City')['gross income'].sum().idxmax()

'Naypyitaw'

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [7]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values='Invoice ID', aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [8]:
invoices_by_category['Electronic accessories'].idxmax()

'A'

In [9]:
invoices_by_category.groupby('Branch')['Electronic accessories'].max()[:1]

Branch
A    60
Name: Electronic accessories, dtype: int64

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

4.Я захотіла проаналізувати, яким способом у кожному місті здійснюється оплата, більше всього мене цікавала оплата готівкою, так як зараз багато магазинів переходить на можливість тільки безготівкової оплати, каси тільки самообслуговування.

In [10]:
df.groupby('City')['Payment'].value_counts(normalize=True).reset_index()

        City      Payment  proportion
0   Mandalay      Ewallet    0.340361
1   Mandalay         Cash    0.331325
2   Mandalay  Credit card    0.328313
3  Naypyitaw         Cash    0.378049
4  Naypyitaw      Ewallet    0.323171
5  Naypyitaw  Credit card    0.298780
6     Yangon      Ewallet    0.370588
7     Yangon         Cash    0.323529
8     Yangon  Credit card    0.305882

In [11]:
df1 = df.groupby('City')['Payment'].value_counts(normalize=True)
df1[df1.index.isin(['Cash'], level = 1)]

City       Payment
Mandalay   Cash       0.331325
Naypyitaw  Cash       0.378049
Yangon     Cash       0.323529
Name: proportion, dtype: float64

З досліджень можу зробити висновок, що магазини поки не готові перейти на повністю безготівкову оплату, це може загрожувати втратою клієнтів, так як більше третини оплат - готівкою, цей спосіб оплати не програє іншим, а навіть лідує.

5.Оскільки було виявлено, що філіал у Naypyitaw є найприбутківішим, то планується відкриття в тому місті ще одного магазтну, тому важливо дослідити наших клієнтів, яка стать переважає, тип клієнта та рейтинг задоволення.

In [12]:
df[df.City == 'Naypyitaw']['Customer type'].value_counts(normalize=True)

Customer type
Member    0.515244
Normal    0.484756
Name: proportion, dtype: float64

In [13]:
df[df.City == 'Naypyitaw'].groupby('Gender')['Rating'].describe()

        count      mean       std  min    25%   50%    75%   max
Gender
Female  178.0  7.157865  1.700638  4.0  5.625  7.30  8.575  10.0
Male    150.0  6.972000  1.709316  4.0  5.625  6.85  8.500   9.9

Дослідивши наших клієнтів, бачимо, що лише половина є членами магазину. У майбутньому я б закликала більше людей оформлюватм членство, так як це вигідно клієнтові (знижки, пропозтції, оновлення), так і магазину - клієнт буде відвідувати нас частіше, робити більше покупок.
Рейтинг задоволеності доволі непоганий, середнє значення 7 з 10. Можна також з цим попрацювати, наприклад, виявити більше уваги до клієнта через карту членства та спеціальних акційних пропозицій для членів магазину.
Думаю, ці данні будуть дуже корисними для рекламної кампанії залучення клієнтів при відкритті нового магазину.

6.Продовжуючи тему відкриття нового магазина у місті Naypyitaw, хочу дослідити, який дохід по категоріям, щоб знати якими відділам надати перевагу та де можна більше заробити на товарах преміум-сегменту.

In [14]:
df[df.City == 'Naypyitaw'].groupby('Product line')['gross income'].sum()

Product line
Electronic accessories     903.2845
Fashion accessories       1026.6700
Food and beverages        1131.7550
Health and beauty          791.2060
Home and lifestyle         661.6930
Sports and travel          750.5680
Name: gross income, dtype: float64

Після аналізу категорій, видно, що найбільший дохід надходить з "Електронні аксесуари", "Модні аксесуари", "Їжа та напої". Роблячи у новому магазині повноцінні відділи з електронними та модними аксесуарами є можливість ще підвищити дохід плюс ми можемо додати в ці відділи товари преміум-сегменту.