# Додаткове завдання з pandas
Вітаю! В цьому завданні будемо працювати з даними з опитування щодо зарплат ІТ спеціалістів на рексурсі DOU від грудня 2022 року. Впевнена, це буде цікаве дослідження, а заразом і практика pandas :)
Цей аналіз може бути корисним людині, яка обирає напрям роботи в ІТ і хоче зрозуміти тенденції. За якісного виконання цього аналізу, цей проєкт можна сміливо додавати у Ваше портфоліо!

1. Зчитайте дані з файлу `2022_dec_raw.csv`. Увага! Тут необхідно використати аргумент `pd.read_csv` `sep=';'`, бо розділювач в даних - крапка з комою.

In [1]:
import pandas as pd
df = pd.read_csv('../data/2022_dec_raw.csv', sep = ';')

2. Які колонки мають дані?

In [2]:
df.columns

Index(['Timestamp', 'Ви працюєте зараз в ІТ?', 'Де ви зараз живете? ',
       'В якій області ви зараз живете?',
       'Зарплата у $$$ за місяць, лише ставка після сплати податків',
       'Ваша стать', 'Ваш вік', 'Яка у вас освіта?',
       'Чи є у вас науковий ступінь? ', 'Знання англійської мови',
       'Оберіть вашу посаду', 'Ваш тайтл', 'Ваша спеціалізація',
       'Вкажіть вашу спеціалізацію', 'Оберіть вашу спеціалізацію',
       'Ваша посада', 'Оберіть вашу посаду2', 'Ваша посада3', 'Ваша посада4',
       'Ваша посада5', 'Ваша посада6', 'Ваша посада7',
       'Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?',
       'Основна мова програмування', 'Вкажіть вашу основну спеціалізацію',
       'В якій сфері працюєте?', 'Тип компанії',
       'Загальний стаж роботи за спеціальністю'],
      dtype='object')

3. Скільки рядків та колонок мають дані? Скільки пропущених значень має кожна з колонок?

In [3]:
df_shape = df.shape
print(f'Набір даних містить {df_shape[0]} рядків та {df_shape[1]} колонок')

Набір даних містить 13315 рядків та 28 колонок

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13315 entries, 0 to 13314
Data columns (total 28 columns):
 #   Column                                                                      Non-Null Count  Dtype
---  ------                                                                      --------------  -----
 0   Timestamp                                                                   13315 non-null  object
 1   Ви працюєте зараз в ІТ?                                                     13315 non-null  object
 2   Де ви зараз живете?                                                         13315 non-null  object
 3   В якій області ви зараз живете?                                             11538 non-null  object
 4   Зарплата у $$$ за місяць, лише ставка після сплати податків                 13288 non-null  float64
 5   Ваша стать                                                                  13315 non-null  object
 6   Ваш вік                                                                     13315 non-null  float64
 7   Яка у вас освіта?                                                           13315 non-null  object
 8   Чи є у вас науковий ступінь?                                                13204 non-null  object
 9   Знання англійської мови                                                     13315 non-null  category
 10  Оберіть вашу посаду                                                         13315 non-null  object
 11  Ваш тайтл                                                                   13315 non-null  category
 12  Ваша спеціалізація                                                          159 non-null    object
 13  Вкажіть вашу спеціалізацію                                                  2364 non-null   object
 14  Оберіть вашу спеціалізацію                                                  486 non-null    object
 15  Ваша посада                                                                 305 non-null    object
 16  Оберіть вашу посаду2                                                        560 non-null    object
 17  Ваша посада3                                                                821 non-null    object
 18  Ваша посада4                                                                485 non-null    object
 19  Ваша посада5                                                                288 non-null    object
 20  Ваша посада6                                                                353 non-null    object
 21  Ваша посада7                                                                116 non-null    object
 22  Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?  4874 non-null   object
 23  Основна мова програмування                                                  9060 non-null   object
 24  Вкажіть вашу основну спеціалізацію                                          9059 non-null   object
 25  В якій сфері працюєте?                                                      13315 non-null  object
 26  Тип компанії                                                                13315 non-null  object
 27  Загальний стаж роботи за спеціальністю                                      12393 non-null  category
dtypes: category(3), float64(2), object(23)
memory usage: 2.6+ MB

In [54]:
isna = df.isna().sum()
isna

Timestamp                                                                         0
Ви працюєте зараз в ІТ?                                                           0
Де ви зараз живете?                                                               0
В якій області ви зараз живете?                                                1777
Зарплата у $$$ за місяць, лише ставка після сплати податків                      27
Ваша стать                                                                        0
Ваш вік                                                                           0
Яка у вас освіта?                                                                 0
Чи є у вас науковий ступінь?                                                    111
Знання англійської мови                                                           0
Оберіть вашу посаду                                                               0
Ваш тайтл                                                                         0
Ваша спеціалізація                                                            13156
Вкажіть вашу спеціалізацію                                                    10951
Оберіть вашу спеціалізацію                                                    12829
Ваша посада                                                                   13010
Оберіть вашу посаду2                                                          12755
Ваша посада3                                                                  12494
Ваша посада4                                                                  12830
Ваша посада5                                                                  13027
Ваша посада6                                                                  12962
Ваша посада7                                                                  13199
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?     8441
Основна мова програмування                                                     4255
Вкажіть вашу основну спеціалізацію                                             4256
В якій сфері працюєте?                                                            0
Тип компанії                                                                      0
Загальний стаж роботи за спеціальністю                                          922
dtype: int64

In [52]:
isna[isna==0].index

Index(['Timestamp', 'Ви працюєте зараз в ІТ?', 'Де ви зараз живете? ',
       'Ваша стать', 'Ваш вік', 'Яка у вас освіта?', 'Знання англійської мови',
       'Оберіть вашу посаду', 'Ваш тайтл', 'В якій сфері працюєте?',
       'Тип компанії'],
      dtype='object')

4. Які колонки мають всі значення заповненими (не мають дожного None значення)? Виведіть програмно список цих колонок.

In [53]:
isna[isna==0].index

Index(['Timestamp', 'Ви працюєте зараз в ІТ?', 'Де ви зараз живете? ',
       'Ваша стать', 'Ваш вік', 'Яка у вас освіта?', 'Знання англійської мови',
       'Оберіть вашу посаду', 'Ваш тайтл', 'В якій сфері працюєте?',
       'Тип компанії'],
      dtype='object')

5. Який тип мають колонки в наборі даних? Які з колонок типу object логічно на ваш погляд перетворити на числові колонки?

In [6]:
df.dtypes

Timestamp                                                                     object
Ви працюєте зараз в ІТ?                                                       object
Де ви зараз живете?                                                           object
В якій області ви зараз живете?                                               object
Зарплата у $$$ за місяць, лише ставка після сплати податків                   object
Ваша стать                                                                    object
Ваш вік                                                                       object
Яка у вас освіта?                                                             object
Чи є у вас науковий ступінь?                                                  object
Знання англійської мови                                                       object
Оберіть вашу посаду                                                           object
Ваш тайтл                                                                     object
Ваша спеціалізація                                                            object
Вкажіть вашу спеціалізацію                                                    object
Оберіть вашу спеціалізацію                                                    object
Ваша посада                                                                   object
Оберіть вашу посаду2                                                          object
Ваша посада3                                                                  object
Ваша посада4                                                                  object
Ваша посада5                                                                  object
Ваша посада6                                                                  object
Ваша посада7                                                                  object
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?    object
Основна мова програмування                                                    object
Вкажіть вашу основну спеціалізацію                                            object
В якій сфері працюєте?                                                        object
Тип компанії                                                                  object
Загальний стаж роботи за спеціальністю                                        object
dtype: object

Я б перетворила зарплату, вік та стаж на числові колонки.

6. Трансформуйте колонки 'Ваш вік', 'Зарплата у $$$ за місяць, лише ставка після сплати податків' у тип даних float. УВАГА! Перед трансформацією подивіться, які дані містять ці колонки. Аби успішно трансформувати тип даних, треба спочатку привести рядки до того виду, який буде підходити, аби потім рядок зробити типом float.

In [7]:
df_without_na = df.dropna(subset=['Зарплата у $$$ за місяць, лише ставка після сплати податків'])
df_without_na = df_without_na['Зарплата у $$$ за місяць, лише ставка після сплати податків'].str.replace(',', '.')

In [8]:
def get_float(value: str):
    return float(value)

In [9]:
df['Зарплата у $$$ за місяць, лише ставка після сплати податків'] = df_without_na.apply(get_float)

In [10]:
df_age_without_na = df.dropna(subset=['Ваш вік'])
df_age_without_na = df_age_without_na['Ваш вік'].str.replace(',', '.')

In [11]:
df['Ваш вік'] = df_age_without_na.apply(get_float)

7. Це завдання з зірочкою! Нам треба транфсформувати колонку Timestamp у тип даних `datetime64[ns]`. Це не так просто як здається на першйий погляд :) Але це реальна ситуація, яка може трапитись при зборі даних в роботі аналітиком.
Я запропоную один зі способів виконати завдання, але ви можете написати по-своєму. Головне - отримати колонку - потрібного типу. 
Пропоную наступний алгоритм дій:
    1. Подивитись, які дані містяться в цій колонці. Виведіть перші і останні 5 записів. Чи однаковий формат цих даних? (спойлер: ні, бо інакше все було б просто :))
    2. Нам треба враховуючи різний формат даних перетворити рядок у колонці `Timestamp` на тип `datetime64[ns]`. Як це зробити? Для перетворення рядка на `datetime64` пропоную скористатись `datetime.datetime.strptime`.
    Для цього треба імпортувати бібліотеку `datetime`. Я пропоную написати функцію для обробки кожного окремого рядка, яка враховує довжину рядка і на основі цього застосовує різний формат даних дати.
    Як прописувати формат даних можна переглянути [тут](https://www.w3schools.com/python/python_datetime.asp).
    3. Коли функція для обробки кожного окремого рядка готова, застосуйте її для всіх даних з допомогою методу `apply`.

8. Для колонок типу даних object (які такими лишились після всіх наших трансформацій) виведіть кількість унікальних значень.

In [55]:
df.select_dtypes('object').nunique()

Timestamp                                                                     10850
Ви працюєте зараз в ІТ?                                                           5
Де ви зараз живете?                                                               2
В якій області ви зараз живете?                                                  23
Ваша стать                                                                        2
Яка у вас освіта?                                                                 5
Чи є у вас науковий ступінь?                                                      3
Оберіть вашу посаду                                                              22
Ваша спеціалізація                                                                8
Вкажіть вашу спеціалізацію                                                        4
Оберіть вашу спеціалізацію                                                       21
Ваша посада                                                                      15
Оберіть вашу посаду2                                                              7
Ваша посада3                                                                      7
Ваша посада4                                                                      5
Ваша посада5                                                                      6
Ваша посада6                                                                      2
Ваша посада7                                                                      4
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?        2
Основна мова програмування                                                       33
Вкажіть вашу основну спеціалізацію                                               12
В якій сфері працюєте?                                                         1768
Тип компанії                                                                      6
dtype: int64

9. Для колонок типу даних object виведіть топ 10 найбільш частих значень з кількістю рядків, в яких це значення зустрічається. Зробіть це для кожної колонки окремо. Наприклад, в циклі.  
Що цікавого бачите? Які висновки можна зробити? Що особисто Вас вразило?

In [29]:
for i in range(len(df)):
    if df['Ваш вік'].dtypes == object:
        print(df['i'].mode())

In [19]:
df['Знання англійської мови'].mode()

0    Upper-Intermediate
Name: Знання англійської мови, dtype: object

10. Виведіть медіанну (медіана - це значення, менше якого є рівно 50% вибірки і більше якого є теж рівно 50% вибірки)
ЗП (Зарплата у $$$) для кожного рівня знання англійської. Які висновки можна зробити?

In [56]:
df.groupby(by = ['Знання англійської мови'])['Зарплата у $$$ за місяць, лише ставка після сплати податків'].median()

Знання англійської мови
Elementary            1155.0
Pre-Intermediate      1404.0
Intermediate          2125.0
Upper-Intermediate    3300.0
Advanced              3500.0
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

In [37]:
df.groupby(by = ['Ваш тайтл'])['Ваш вік'].mean()

Ваш тайтл
Intern/Trainee    25.600000
Junior            26.301382
Немає тайтлу      29.302977
Middle            28.366030
Senior            31.348529
Tech Lead         32.639535
Team Lead         31.249717
Architect         34.607143
Head              32.332000
Manager           31.592000
Name: Ваш вік, dtype: float64

11. Є така штука як сортування значень категоріальної змінної. Нам це зараз стане в нагоді, адже рівні англійської можна посортувати. 
Давайте відсотруємо рівні англ. і тайтли. Просто запустіть код нижче і проаналізуйте, що він робить.

In [31]:
df['Знання англійської мови'] = pd.Categorical(df['Знання англійської мови'], 
                      categories=['Elementary','Pre-Intermediate','Intermediate','Upper-Intermediate','Advanced'],
                      ordered=True)

df['Ваш тайтл'] = pd.Categorical(df['Ваш тайтл'], 
                      categories=['Intern/Trainee', 'Junior', 'Немає тайтлу', 'Middle', 'Senior', 'Tech Lead', 'Team Lead', 'Architect', 'Head', 'Manager'],
                      ordered=True)

12. Зробіть зводну таблицю, де стовпці - це 'Ваш тайтл', рядки - 'Знання англійської мови', а значення - медіанна ЗП. Які висновки можна зробити?
Тут ще для зручності можна зробити градієнтне забарвлення і відформатувати значення для легшого перегляду.

In [57]:
table = pd.pivot_table(df, index='Знання англійської мови', columns='Ваш тайтл', values='Зарплата у $$$ за місяць, лише ставка після сплати податків', aggfunc='median')
table

Ваш тайтл,Intern/Trainee,Junior,Немає тайтлу,Middle,Senior,Tech Lead,Team Lead,Architect,Head,Manager
Знання англійської мови,,,,,,,,,,
Elementary,500.0,600.0,550.0,1500.0,2500.0,5000.0,2100.0,NaN,1500.0,1120.0
Pre-Intermediate,400.0,800.0,934.0,1825.0,3500.0,4000.0,2850.0,2900.0,2400.0,1225.0
Intermediate,400.0,900.0,1300.0,2200.0,4100.0,5000.0,3800.0,5450.0,3500.0,2100.0
Upper-Intermediate,485.0,1000.0,1600.0,2500.0,4750.0,5650.0,4655.0,6400.0,4000.0,3600.0
Advanced,500.0,1000.0,2075.0,2500.0,4750.0,6000.0,5000.0,7000.0,5000.0,4000.0

Рівень англійської напряму впливає на рівень зарплати, навіть, якщо спеціаліст сильний технічно, то зі знанням мови він буде отримувати більше.

13. Виведіть результат методу describe() для топ 5 за частотою зустрічання в даних областей (В якій області ви зараз живете?). Зробіть висновки, де вигідніше жити з точки зору ЗП і чи суттєва різниця на Ваш погляд для прийняття рішення про переїзд?

In [41]:
df['В якій області ви зараз живете?'].value_counts()[:5]

В якій області ви зараз живете?
Київ чи область                4411
Львів чи область               2353
Дніпро чи область               751
Івано-Франківськ чи область     478
Вінниця чи область              447
Name: count, dtype: int64

In [58]:
top_districts = df['В якій області ви зараз живете?'].value_counts().sort_values(ascending=False).head(5).index
df[df['В якій області ви зараз живете?'].isin(top_districts)].groupby('В якій області ви зараз живете?')['Зарплата у $$$ за місяць, лише ставка після сплати податків'].describe()

,count,mean,std,min,25%,50%,75%,max
В якій області ви зараз живете?,,,,,,,,
Івано-Франківськ чи область,478.0,2705.257322,1905.673385,200.0,1200.0,2372.5,3775.0,12436.0
Вінниця чи область,447.0,2888.306085,1902.668331,100.0,1300.0,2612.0,4100.0,11675.0
Дніпро чи область,751.0,2582.584554,1864.711284,100.0,1025.0,2000.0,3600.0,12000.0
Київ чи область,4411.0,3141.810209,2039.859712,80.0,1500.0,2800.0,4500.0,16000.0
Львів чи область,2353.0,3121.441751,2102.721295,150.0,1375.0,2700.0,4500.0,14000.0

Переважає столиця, так як там зосереджена найбільша кількість офосів, можливість розвитку, відвідування івентів, але і ціна життя у Києві набагато вища.
У Львові також зосереджена велика кількість офісів, історична столиця України, ціна життя до 2022 менша, порівнюючи з Києвом. Також через вторгнення Росії Львів є одним з найбезпечніших міст України.
Починаючи з 2022 року на прийняття рішень українців про переїзд впливає юезпечність міста, віддаленість від гарячих точок, постачання електроенергії, а потім вже інфраструктупв міста. 
У Дніпрі зараз багато людей через те, що туди переселилася люди зі східних міст, а це найближче велике доступне місто для IT.

14. Як зростає зарплата з роками? Для цього нам треба відформатувати колонку "Загальний стаж роботи за спеціальністю" аналогічно до того, як ми це робили для колонки 'Знання англійської мови' і потім вивести медіанні значення для кількості років стажу.

In [73]:
df['Загальний стаж роботи за спеціальністю'].unique()

['8 років', '3 роки', '4 роки', 'Пів року', '6 років', ..., NaN, '3 місяці', '12 років', '14 років', '13 років']
Length: 18
Categories (18, object): ['Менше як 3 місяці' < '3 місяці' < 'Пів року' < '1 рік' ... '12 років' < '13 років' < '14 років' < '15 років і більше']

In [70]:
df['Загальний стаж роботи за спеціальністю'].value_counts()

Загальний стаж роботи за спеціальністю
3 роки               1608
4 роки               1447
2 роки               1427
5 років              1351
1,5 року             1056
6 років               982
1 рік                 922
7 років               791
10 років              599
8 років               529
Пів року              457
Менше як 3 місяці     434
11 років              233
12 років              206
3 місяці              158
13 років               97
14 років               96
15 років і більше       0
Name: count, dtype: int64

In [66]:
df['Загальний стаж роботи за спеціальністю'] = pd.Categorical(df['Загальний стаж роботи за спеціальністю'], 
                      categories=['Менше як 3 місяці', '3 місяці','Пів року','1 рік','1,5 року', '2 роки','3 роки','4 роки', '5 років', '6 років', '7 років', '8 років', '10 років', '11 років', '12 років', '13 років', '14 років', '15 років і більше'],
                      ordered=True)

In [67]:
df.groupby(by = ['Загальний стаж роботи за спеціальністю'])['Зарплата у $$$ за місяць, лише ставка після сплати податків'].median()

Загальний стаж роботи за спеціальністю
Менше як 3 місяці     800.0
3 місяці              525.0
Пів року              700.0
1 рік                 950.0
1,5 року             1200.0
2 роки               1700.0
3 роки               2450.0
4 роки               3000.0
5 років              3500.0
6 років              4000.0
7 років              4250.0
8 років              4700.0
10 років             4600.0
11 років             5000.0
12 років             4750.0
13 років             4500.0
14 років             5050.0
15 років і більше       NaN
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

Далі тут можна зробити багато аналогічних агрегацій, проаналізувати, в який час люди заповнювали форму, хто більше отримує, Business Analyst, чи Data Analyst. Я вас заохочувати не стримувати свій інтерес і покапати ці дані далі :)